@CHARSET "UTF-8";
body {
	width: 50%;
	margin: 0 auto;
}
header {
	width: 100%;
	height: 80px;
	background: #008080;
	margin-bottom: 5px;
}
aside, article {
	float: left;
	height: 300px;
	margin-bottom: 5px;
}
aside {
	width: 29%;
	background: #b700b7;
}
article {
	width: 70%;
	background: #00ff00;
	margin-left: 1%;
}
footer {
	width: 100%;
	height: 80px;
	background: #0000ff;
	clear: both;
}